@model IEnumerable<RemusixWeb.Models.User>
@using RemusixWeb.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notification</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mixtape template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link rel="icon" href="~/images/icon.png">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/styles/about_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/styles/homestyle.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/styles/profilemystyle.css">
    <link rel="stylesheet" type="text/css" href="~/styles/notofocation.css">
</head>
<body>

    <div class="super_container">

        <!-- Header -->
        <header class="header" hidden>

            <div class="header_content d-flex flex-row align-items-center justify-content-center">
                <div class="logo"><a href="~/#"><img src="~/images/icon.png"></a></div>
                <div class="log_reg">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="/Users/Login">Login</a></li>
                        <li><a href="/Users/SignUp">Register</a></li>
                    </ul>
                </div>
                <div class="hamburger ml-auto">
                    <div class="d-flex flex-column align-items-end justify-content-between">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </header>



        <!-- Header whith loggin -->
        <div>
            <header class="header">
                <div class="header_content d-flex flex-row align-items-center justify-content-center">
                    <div class="logo"><a href="~/Users/Notification"><img src="~/images/icon.png"></a></div>
                    <div class="log_reg ">

                        <a href="~/Users/UserProfile"><div class="profilpic" title="Profile"></div></a>
                    </div>
                    <div class="log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a title="logout" href="~/Users/LogOut"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        </ul>

                    </div>
                    <nav class="main_nav">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="~/Home/Home">Home</a></li>
                            <li class="active"><a href="~/Users/Notification">Notification</a>  </li>
                            <li><a href="~/Users/Trend">Trend</a></li>
                        </ul>

                    </nav>

                    <div class="hamburger ml-auto">
                        <div class="d-flex flex-column align-items-end justify-content-between">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- Menu -->
        <div class="menu" hidden>
            <div>
                <div class="menu_overlay"></div>
                <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                    <div class="menu_log_reg">
                        <ul class="d-flex flex-row align-items-start justify-content-start">
                            <li><a href="/Users/Login">Login</a></li>
                            <li><a href="/Users/SignUp">Register</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <!-- Menu with login-->
        <div>
            <div class="menu">
                <div>
                    <div class="menu_overlay"></div>
                    <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                        <div class="menu_log_reg">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="/Users/UserProfile">User_name</a></li>
                            </ul>
                        </div>
                        <nav class="menu_nav">
                            <ul class="d-flex flex-column align-items-start justify-content-start">
                                <li><a href="/Home/Home">Home</a></li>
                                <li><a href="/Users/Notification">Notification</a></li>
                                <li><a href="/Users/Trend">Trend</a></li>
                            </ul>
                        </nav>
                        <div class="menu_log_reg">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="/Users/Logout">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <!-- Home -->
        <!-- Blog -->
        <br>
        <div class="blog">
            <div class="container">
                <div class="row">

                    <!-- Blog Posts -->
                    <div class="col-lg-9">
                        <div class="blog_posts">
                            <h3 class="htitle"> N O T I F I C A T I O N </h3> <span class="cspan"> @ViewBag.notinum </span>
                            <!-- Blog Post -->
                            <br><br>
                                <div class="latest_news_list noty">

                                    @foreach (CustomNoti noti in ViewBag.notifications)
                                    {
                                        <!-- Latest News -->
                                        <div class="activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                                            <div class="latest_news_image">
                                                <a href="/Users/Details/@noti.UserID">
                                                    @if (noti.Photo == null || noti.Photo.Length > 50)
                                                    {<img src="~/images/latest_1.jpg" alt="https://unsplash.com/dannykekspro">}
                                                    else
                                                    { <img src=@Url.Action("MyAction", "Users", new { path = noti.Photo }) id="ShowImage" class="ProductImage" alt="Alternate Text" />}
                                                </a>
                                            </div>
                                            <div class="latest_news_content">
                                                <div class="latest_news_date"><a href="/Users/Details/@noti.UserID">@noti.Email</a></div>
                                                @if(@noti.Action.Equals("follow"))
                                                {
                                                <div class="latest_news_title">
                                                    <a href="/Users/Details/@noti.UserID">@noti.UserName</a>
                                                    @noti.Action <a href="/Users/Details/@noti.nUserID"> @noti.nUserName</a>
                                                </div>
                                                }
                                                else{
                                                <div class="latest_news_title">
                                                    <a href="/Users/Details/@noti.UserID">@noti.UserName</a>
                                                    @noti.Action <a href="/Home/PostPage/@noti.PostID">post of</a>
                                                    <a href="/Users/Details/@noti.nUserID"> @noti.nUserName</a>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                        @*<!-- Latest News -->
            <div class="activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_1.jpg" alt="https://unsplash.com/&#64dannykekspro"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_1.jpg" alt="https://unsplash.com/&#64dannykekspro"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_1.jpg" alt="https://unsplash.com/&#64dannykekspro"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_1.jpg" alt="https://unsplash.com/&#64dannykekspro"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_1.jpg" alt="https://unsplash.com/&#64dannykekspro"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class=" activnoty latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_2.jpg" alt="https://unsplash.com/&#64rexcuando"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>

            <!-- Latest News -->
            <div class="latest_news d-flex flex-row align-items-start justify-content-start">
                <div class="latest_news_image"><img src="~/images/latest_3.jpg" alt="https://unsplash.com/&#64arstyy"></div>
                <div class="latest_news_content">
                    <div class="latest_news_date"><a href="~/#">@@essh_00</a></div>
                    <div class="latest_news_title"><a href="~/#">Esraa</a></div>
                </div>
            </div>*@

                                    </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                    <div class="col-lg-3">
                        <div class="sidebar">

                            <div class="sidebar_section">
                                <div class="latest_news d-flex flex-row align-items-start justify-content-start">
                                    <div class="newsletter_container">

                                        @using (Html.BeginForm())
                                        {

                                            <input name="txt" id="txt" value="" style="border-radius: 100rem;margin: auto;" type="text" class="newsletter_input" placeholder="Search ReMusix">

                                        }
                                        <br />
                                        <div id="dd" style=" display:none;width:250px;height:100px;border-radius: 100rem;margin: auto;overflow:hidden;overflow-y:scroll" class="newsletter_input"></div>
                                    </div>
                                </div>
                                <div class="sidebar_title">Suggest Friends</div>
                                <div class="latest_news_list">
                                    <!-- Latest News -->
                                    <!-- Latest News -->
                                    @foreach (var item in Model)
                                    {
                                        if (item.UserID == ViewBag.uid) { continue; }
                                        <div class="latest_news d-flex flex-row align-items-start justify-content-start">
                                            <div class="latest_news_image">
                                                <a href="/Users/Details/@item.UserID">
                                                    @if (item.Photo == null||item.Photo.Length>50)
                                                    {<img src="~/images/latest_1.jpg" alt="https://unsplash.com/dannykekspro">}
                                                    else
                                                    { <img src=@Url.Action("MyAction", "Users", new { path = item.Photo }) id="ShowImage" class="ProductImage" alt="Alternate Text" />}
                                                </a>
                                            </div>
                                            <div class="latest_news_content">
                                                <div class="latest_news_date"><a href="/Users/Details/@item.UserID" style="font-size:12px">@item.Email</a></div>
                                                <div class="latest_news_title"><a href="/Users/Details/@item.UserID" style="font-size:12px">@item.UserName</a></div>
                                            </div>
                                            @using (Html.BeginForm("AddFriend", "Users", FormMethod.Post))
                                            {
                                                <input type="number" name="fid" value="@item.UserID" hidden />
                                                <input type="text" name="a" value="Home" hidden />
                                                <input type="text" name="c" value="Home" hidden />
                                                <button type="submit" class="newsletter_button">FOLLOW</button>
                                            }
                                        </div>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Footer -->


        <footer class="footer">
            <div class="footer_list">
                <ul>
                    <li><a href="~/Home/About">About</a></li>
                    <li><a href="/Home/Setting">Setting</a></li>
                    <li><a href="/Home/ContactUs">Contact Us</a></li>

                </ul>
            </div>
            <div class="copyright_bar">

                <span>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="fa fa-heart-o" aria-hidden="true"></i> by RemusiX team
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </span>
            </div>
        </footer>
    </div>

    <script src="~/js/dialog.js"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/plugins/jPlayer/jquery.jplayer.min.js"></script>
    <script src="~/plugins/jPlayer/jplayer.playlist.min.js"></script>
    <script src="~/js/blog.js"></script>
    <script>
        $(function () {
            $("#txt").keyup(function () {
                $("#dd").text('');
                if ($("#txt").val().length > 0) {
                    document.getElementById("dd").style.display = "block";
                    $.get("/Home/Search", { txt: $("#txt").val() }, function (data) {
                        $.each(data, function (i, r) {
                            $("#dd").append("<a href='/Users/Details/" + r.UserID + "'>" + r.UserName + "</a><br>")
                        });
                    });
                } else {
                    document.getElementById("dd").style.display = "none";
                }
            });

        });

    </script>
    <style>
        .ProductImage {
            height: 60px;
            border: 1px solid #000;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
    </style>
</body>
</html>
